.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  background-image: Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)
}



img#hero {
  position: absolute;right: 0px; top: 0px;
}

img#logo{
  position: absolute; left: 190px; top: 60px;
}

/* text */

h1,h2,h3,h4,h5,h6,p{
  font-family: 'Josefin Sans', sans-serif;
}

h1#first {
 position: absolute; left: 190px; top: 200px;
 font-weight: 200;
 font-size: 70px;
 color: hsl(0, 36%, 70%);
 letter-spacing: 0.1em;
}

h1#second {
  position: absolute; left: 190px; top: 275px;
  font-size: 70px;
  color: hsl(0, 6%, 24%);
  letter-spacing: 0.1em;

}

p#p {
  position: absolute; left: 190px; top: 475px;
  font-size: 16px;
  font-weight: 400;
  color: hsl(0, 36%, 70%);
  
}


p#p1 {
  position: absolute; left: 190px; top: 499px;
  font-size: 16px;
  font-weight: 400;
  color: hsl(0, 36%, 70%);
  
}

p#p2 {
  position: absolute; left: 190px; top: 525px;
  font-size: 16px;
  font-weight: 400;
  color: hsl(0, 36%, 70%);
  
}
input {
  position: absolute; left: 189px; top: 605px;
  border-radius: 30px;
  border: 1px solid hsl(0, 36%, 70%);
  width: 400px;
  height: 60px;
  background-color: transparent;
  font-size: 16px;
  color: hsl(0, 36%, 70%);
  font-family: 'Josefin Sans', sans-serif;
  padding-left: 40px;

}

::placeholder{
      color: hsl(0, 36%, 70%);

}

